@model List<ContratoViewModel>

<div style="display: flex; flex-direction: column;">

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Data Inicial</th>
            <th>Data Final</th>
            <th>Valor</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var contrato in Model)
        {
            <tr>
                <td>@contrato.Id</td>
                <td>@contrato.NomeCliente</td>
                <td>@contrato.DataInicial</td>
                <td>@contrato.DataFinal</td>
                <td>R$ @contrato.ValorTotal.ToString("F")</td>
                <td>@contrato.Status</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/contrato/update/@contrato.Id">
                        Editar
                    </a>
                    @if (contrato.Status != 2)
                    {
                        <a class="btn btn-sm btn-warning" href="/contrato/finalizar/@contrato.Id">
                            Finalizar
                        </a>
                    }
                    <a class="btn btn-sm btn-danger" href="/contrato/delete/@contrato.Id">
                        Apagar
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
<a class="btn btn-primary" href="/contrato/create">Adicionar</a>
