@using System.Text.Json
@model Contrato

@{
    List<Reserva> ModelReservas = JsonSerializer.Deserialize<List<Reserva>>(Model.ListaReservas);

    string ViewBagVeiculosForJs = JsonSerializer.Serialize<List<Veiculo>>(ViewBag.Veiculos);
}

<h2>Edição de Contratos</h2>
<hr />
<form asp-controller="Contrato" asp-action="Update" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Cnpj</label>
            <select asp-for="ClienteCNPJ" class="form-control">
                <option></option>
                @foreach (var cliente in ViewBag.Clientes)
                {
                    <option value="@cliente.Cnpj">@cliente.Nome - @cliente.Cnpj</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label>Data Inicial</label>
            <input type="datetime-local" asp-for="DataInicial" class="form-control" />
            <span asp-validation-for="DataInicial"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Data Final</label>
            <input type="datetime-local" asp-for="DataFinal" class="form-control" />
            <span asp-validation-for="DataFinal"></span>
        </div>
    </div>
    <input hidden id="count" value="@ModelReservas.Count" />
    <input hidden id="ValoreslistaReservas" asp-for="ListaReservas" />
    <div style="display: flex; flex-direction: row;margin-bottom: 10px;">
        <h3>Reservas</h3>
        <button onclick="AddReserva()" type="button" style="margin-left: 10px; margin-right: 5px;"
            class="btn btn-primary">Adicionar</button>
        <button onclick="ResetReserva()" type="button" class="btn btn-warning">Limpar</button>
    </div>
    <div id="reservas">
        @foreach ((Reserva reserva, Int32 reservaIndex) in ModelReservas.Select((value, i) => (value, i)))
        {
            <div
            style="border-width: 1px; border-color: #AAAAAA70; border-style: solid; border-radius: 20px; padding: 10px; margin-bottom: 10px;">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Data Inicial</label>
                        <input type="datetime-local"
                        onchange="ChangeObject(@reservaIndex, 'DataRetirada', @String.Format("DataRetirada{0}",reservaIndex))"
                        id="@String.Format("DataRetirada{0}",reservaIndex)" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Data Final</label>
                        <input type="datetime-local"
                        onchange="ChangeObject(@reservaIndex, 'DataFinalContratada', @String.Format("DataFinalContratada{0}",reservaIndex))"
                        id="@String.Format("DataFinalContratada{0}",reservaIndex)" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Selecione o veículo:</label>
                        <select onchange="SetVeiculo(@reservaIndex)" id="@String.Format("select{0}",reservaIndex)"
                        class="form-control">
                            <option></option>
                            @foreach (var veiculo in ViewBag.Veiculos)
                            {
                                <option
                            value='{"id": "@veiculo.Id", "marca": "@veiculo.Marca", "descricao": "@veiculo.Descricao", "categoria": "@veiculo.Categoria", "valorDiaria": "@veiculo.ValorDiaria.ToString("F")"}'>
                                    @veiculo.Marca @veiculo.Descricao - @veiculo.Placa</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Marca</label>
                        <input disabled id="@String.Format("Marca{0}",reservaIndex)" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Descrição</label>
                        <input disabled id="@String.Format("Descricao{0}",reservaIndex)" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Categoria</label>
                        <input disabled id="@String.Format("Categoria{0}",reservaIndex)" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Valor Diaria</label>
                        <input id="@String.Format("ValorDiaria{0}",reservaIndex)" disabled class="form-control" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div style="margin-bottom: 50px;">
        <button type="submit" class="btn btn-primary float-right">Salvar</button>
    </div>
</form>

<script>
    function SetVeiculo(index) {

        let select = document.getElementById(`select${index}`)
        let marcaInput = document.getElementById(`Marca${index}`)
        let descricaoInput = document.getElementById(`Descricao${index}`)
        let categoriaInput = document.getElementById(`Categoria${index}`)
        let valorDiariaInput = document.getElementById(`ValorDiaria${index}`)
        marcaInput.value = JSON.parse(select.value).marca
        descricaoInput.value = JSON.parse(select.value).descricao
        categoriaInput.value = JSON.parse(select.value).categoria
        valorDiariaInput.value = JSON.parse(select.value).valorDiaria

        ChangeObjectWithValue(index, 'IdVeiculo', parseInt(JSON.parse(select.value).id))

        let fromDate = document.getElementById(`DataRetirada${index}`).value.substr(0, 10)

        let toDate = document.getElementById(`DataFinalContratada${index}`).value.substr(0, 10)

        let valorDiaria = parseInt(JSON.parse(select.value).valorDiaria)

        console.log(fromDate, toDate, valorDiaria)

        let diferença = ((new Date(toDate) - new Date(fromDate)) / (60 * 60 * 24 * 1000))
        console.log(diferença)
        let valor = valorDiaria * diferença
        console.log(valor)
        ChangeObjectWithValue(index, 'Valor', valor)
    }

    function AddReserva() {
        let count = document.getElementById(`count`)

        let content = document.getElementById(`reservas`)
        content.insertAdjacentHTML('beforeend', `
        <div
            style="border-width: 1px; border-color: #AAAAAA70; border-style: solid; border-radius: 20px; padding: 10px; margin-bottom: 10px;">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Data Inicial</label>
                    <input type="datetime-local" onchange="ChangeObject(${count.value}, 'DataRetirada', 'DataRetirada${count.value}')" id="DataRetirada${count.value}" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Data Final</label>
                    <input type="datetime-local" onchange="ChangeObject(${count.value}, 'DataFinalContratada', 'DataFinalContratada${count.value}')" id="DataFinalContratada${count.value}" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Selecione o veículo:</label>
                    <select onchange="SetVeiculo(${count.value})" id="select${count.value}" class="form-control">
                        <option></option>
    @foreach (var veiculo in ViewBag.Veiculos)
    {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <option
                            value='{"id": "@veiculo.Id", "marca": "@veiculo.Marca", "descricao": "@veiculo.Descricao", "categoria": "@veiculo.Categoria", "valorDiaria": "@veiculo.ValorDiaria.ToString("F")"}'>
            @veiculo.Marca @veiculo.Descricao - @veiculo.Placa</option>
    }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Marca</label>
                    <input disabled id="Marca${count.value}" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Descrição</label>
                    <input disabled id="Descricao${count.value}" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Categoria</label>
                    <input disabled id="Categoria${count.value}" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label>Valor Diaria</label>
                    <input id="ValorDiaria${count.value}" disabled class="form-control" />
                </div>
            </div>
        </div>
        `)

        count.value = parseInt(count.value) + 1
    }

    function ResetReserva() {
        let content = document.getElementById(`reservas`)
        content.innerHTML = ""
        let count = document.getElementById(`count`)
        count.value = 0
        let ValoreslistaReservas = document.getElementById('ValoreslistaReservas')
        ValoreslistaReservas.value = null
    }

    function ChangeObject(index, property, id) {
        let ValoreslistaReservas = document.getElementById('ValoreslistaReservas')
        let json = JSON.parse(ValoreslistaReservas.value.length > 0 ? ValoreslistaReservas.value : '[]')
        let value = document.getElementById(id).value
        if (json[index]) {
            json[index][property] = value
        }
        else {
            json[index] = { [property]: value }
        }

        ValoreslistaReservas.value = JSON.stringify(json)
    }

    function ChangeObjectWithValue(index, property, value) {
        let ValoreslistaReservas = document.getElementById('ValoreslistaReservas')
        let json = JSON.parse(ValoreslistaReservas.value.length > 0 ? ValoreslistaReservas.value : '[]')
        if (json[index]) {
            json[index][property] = value
        }
        else {
            json[index] = { [property]: value }
        }

        ValoreslistaReservas.value = JSON.stringify(json)
    }

    window.onload = function () {
        let json = JSON.parse('@Html.Raw(Model.ListaReservas)')
        let veiculos = JSON.parse('@Html.Raw(ViewBagVeiculosForJs)')

        console.log(json)

        json.forEach((reserva, index) => {
            let DataRetirada = document.getElementById(`DataRetirada${index}`)
            DataRetirada.value = reserva.DataRetirada

            let DataFinalContratada = document.getElementById(`DataFinalContratada${index}`)
            DataFinalContratada.value = reserva.DataFinalContratada

            let select = document.getElementById(`select${index}`)

            console.log(veiculos)
            veiculos.findIndex(value => {
                console.log(value.Id)
                console.log(reserva.IdVeiculo)
            })

            select.selectedIndex = veiculos.findIndex(value => value.Id == reserva.IdVeiculo) + 1
            select.onchange();
        })

    };
</script>