@model Veiculo

<br />

@if (@Model == null)
{
    <h3>@ViewBag.Mensagem</h3>
}
else
{
    <h3>@ViewBag.Mensagem @Model.Descricao</h3>
    <table class="table table-hover">
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Descricao</td>
            <td>@Model.Marca</td>
            <td>@Model.Placa</td>
            <td>@Model.ValorDiaria</td>
            <td>@Model.Lugares</td>
            <td>@Model.Carga</td>
            <td>@Model.Categoria</td>
            <td>@Model.Tipo</td>
            <td>@Model.Status</td>
            <td>
                <a class="btn btn-sm btn-danger" href="/cliente/delete/@Model.Id">
                    Apagar
                </a>
                <a class="btn btn-sm btn-danger" href="/cliente/update/@Model.Id">
                    Editar
                </a>
            </td>
        </tr>
    </table>
}
<a class="btn btn-primary" href="/veiculo/create">Adicionar</a>
